# User-wide Global Configuration of Git VCS
# 
# Documentation: Refer git-config(1) manual page(manpage)
# 
# A '#' or ';' character indicates a comment
; Core variables
[core]
	; Don't escape special characters to support proper rendering of paths with CJK characters
	quotepath = false

[user]
	name = 林博仁(Buo-ren Lin)
	email = buo.ren.lin@gmail.com
	signingkey = FBEEC3C6

; Sub-command aliases
[alias]
	denny-git-log = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	contributors = shortlog -e --summary --numbered

[color]
	ui = true

[gui]
	editor = kate --startanon --new
	historybrowser = gitk

; Configuration of Git Cola
; Documentation: Git Cola > Help > Documentation
[cola]
	boldheaders = true
	tabwidth = 4
	linebreak = false
	spellcheck = true
	fontdiff = Noto Sans Mono CJK TC,11,-1,5,50,0,0,0,0,0
	showpath = false
	icontheme = default
	hidpi = 0
	theme = default
	autodetectproxy = true
	refreshonfocus = true
	autoloadcommittemplate = false
	resizebrowsercolumns = true
	blockcursor = true
	statusshowtotals = true

; Credential Cache Helper
[credential]
	helper = cache --timeout 10800

[pull]
	rebase = false

[init]
	defaultBranch = main

; Configuration for the git-ubuntu utility
[gitubuntu]
	lpuser = brlin

; Enable PGP-sign for commit and tag operations by default
[commit]
	gpgSign = true
[tag]
	gpgSign = true

; Allow lp: abbreviation for repositories hosted on Launchpad
; https://help.launchpad.net/Code/Git#Configuring_Git
[url "git+ssh://brlin@git.launchpad.net/"]
        insteadof = lp:
